.contact{
    min-height: 100vh;
    background: #000000;
    color: hsl(0, 0%, 100%);
    .content{
        width: 1200px;
        margin: 0 auto;
        padding-top: 250px;
        min-height: calc(100vh - 161px);
        .info{
            width: 640px;
            float: left;
            line-height: 1.5;
            font-family: 'Courier', arial;
            p{
                font-size: 14px;
                margin-bottom: 15px;
                a{
                    font-size: 20px;
                    color: #FFFFFF;
                    text-decoration: underline;
                }
            }
        }
        .avatar{
            float: right;
            width: 300px;
            img{
                width: 100%;
            }
        }
    }
    .footer{
        img{
            display: block;
            width: 1200px;
        }
    }
}