.index{
    width: 100%;
    height: 100vh;

    .swiper-container {
        width: 100%;
        height: 100%;
        .swiper-slide{
            position: relative;
            height: 100%;
            .main-banner{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .index-pic{
                display: block;
                height: 100%;
                margin: 0 auto;
            }
            .index-content{
                width: 1200px;
                height: 100vh;
                margin: 0 auto;
                font-size: 18px;
                color: #000000;
                letter-spacing: -0.92px;
                line-height: 36px;
                padding: 60px 0;
                position: relative;
                .person{
                    position: absolute;
                    right: 0;
                    top: 220px;
                    width: 180px;
                    img{
                        display: block;
                        width: 180px;
                    }
                }
                .steps{
                    margin-top: 50px;
                    img{
                        width: 705px;
                    }
                }
            }
            .footer{
                position: relative;
                width: 100%;
                img{
                    display: block;
                    width: 1200px;
                }
                .footer-link{
                    position: absolute;
                    right: 128px;
                    top: 50px;
                    display: block;
                    img{
                        width: 12px;
                        float: left;
                        display: block;
                        margin-top: 2px;
                        margin-right: 5px;
                    }
                    span{
                        display: block;
                        float: left;
                        font-size: 14px;
                        color: #4A4A4A;
                        text-align: left;
                        line-height: 20px;
                    }
                }
            } 

        }
    }

    .controlls{
        position: fixed;
        right: 50px;
        bottom: 50px;
        width: 66px;
        height: 100px;
        background: url('./img/controller.png') no-repeat;
        background-size: 100%;
        cursor: pointer;
        z-index: 10;
        &:hover{
            background: url('./img/controller-hover.png') no-repeat;
        }
        animation: upAndDown 2s linear infinite;
    }
}

@keyframes upAndDown{
    0% {
        bottom: 50px;
    }
    50% {
        bottom: 60px;
    }
    100%{
        bottom: 50px;
    }
}