.character{
    .content{
        width: 1200px;
        margin: 0 auto;
        padding: 80px 0;
        min-height: calc(100vh - 258px);
    }
    .footer{
        background: #464546;
        height: 140px;
    } 
}