.story{
    .content{
        width: 1200px;
        margin: 0 auto;
        padding: 80px 0;
        min-height: calc(100vh - 280px);
    }
    .footer{
        width: 1200px;
        margin: 0 auto;
        img{
            display: block;
            width: 1200px;
        }
    } 
}